<%= form_for(@personal_health_record) do |f| %>
  <% if @personal_health_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personal_health_record.errors.count, "error") %> prohibited this personal_health_record from being saved:</h2>

      <ul>
      <% @personal_health_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row" style="margin-top: 8px;">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div style= "text-align: right;color: white;font-size: 23px;
    height: 30px;line-height: 23px;">allergies
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div style="border: none;border-radius: 7px;height: 20px;" > <%= f.text_field(:allergies, :style => "border: none;border-radius: 7px;height: 25px;
    width: 265px;") %> </div>
  </div>
</div>

<div class="row" style="margin-top: 8px;">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div style= "text-align: right;color: white;font-size: 23px;
    height: 30px;line-height: 23px;">blood type
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div style="border: none;border-radius: 7px;height: 20px;"> <%= f.text_field(:blood_type, :style => "border: none;border-radius: 7px;height: 25px;
    width: 265px;") %></div>
  </div>
</div>

<div class="row" style="margin-top: 8px;">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div style= "text-align: right;color: white;font-size: 23px;
    height: 30px;line-height: 23px;">chronic illnesses
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div style="border: none;border-radius: 7px;height: 20px;"> <%= f.text_field(:chronic_disease, :style => "border: none;border-radius: 7px;height: 25px;
    width: 265px;") %></div>
  </div>
</div>

<div class="row" style="margin-top: 8px;">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div style= "text-align: right;color: white;font-size: 23px;
    height: 30px;line-height: 23px;">medication
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div style="border: none;border-radius: 7px;height: 20px;"> <%= f.text_field(:medication, :style => "border: none;border-radius: 7px;height: 25px;
    width: 265px;") %></div>
  </div>
</div>

<div class="row" style="margin-top: 8px;">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
   <div style= "text-align: right;color: white;font-size: 23px;
    height: 30px;line-height: 23px;">organ donor?
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div style="border: none;border-radius: 7px;height: 20px;"> <%= f.check_box(:organ_donor, :style => "border: none;border-radius: 7px;height: 25px;
    width: 265px;") %></div>
  </div>
</div>
<% if @personal_health_record.personal_id.blank?%>
<%= f.hidden_field(:patient_id, :value => @id) %>
<% else %>
<%= f.hidden_field(:patient_id, :value => @personal_health_record.personal_id) %>
<% end %>
<div class="row" style="margin-left: 160px;margin-top:25px"> <div><%= f.submit(:style => "border-radius: 10px;border: none;color: blue;background-color: white;float:left;margin-right:10px") %> </div> 
<div> <%= link_to 'Back', patients_path, :style => "color:white;font-size: 14px;
    line-height: 22px;"%> </div> 
  </div>
<% end %>
