<div> we in admin tab </div>

<div> <%= link_to "see all requests - Closed Module", requests_path %> </div>

<div> <%= link_to "see all environment - Closed Module", environments_path %> </div>

<div> <%= link_to "see all users", admin_users_path %> </div>

<div> <%= link_to "see all hosted files", hosted_files_path %> </div>

<div> <%= link_to "see all download tickets", download_tickets_path %> </div>

<div>APPLE PASSBOOK DEVICES</div>
<div> <%= link_to "see all devices", admin_view_devices_path %> </div>

<div> <%= link_to "see all registrations", admin_view_registrations_path %> </div>

<div> <%= link_to "see all Pass profiles", admin_view_profile_passes_path %> </div>