<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div id="grad" style="width:650px;height:500px;display: block;margin-left: auto;margin-right: auto; border-radius: 15px;font-family:disco;padding-top: 50px;padding-bottom: 50px;">
  	  <div style="margin-bottom: 30px;margin-bottom: 60px;FONT-SIZE: 38px;color: white;padding-left: 95px;padding-right: 95px;"> File Information</div>
<!--   	  <p id="notice" style="color:white;margin-left:200px">< notice %></p> -->
  	  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  	  	<div class="row" style="height: 24px;font-size: 21px;color:white">Name: <%= @hosted_file.name %></div>
  	  	<div class="row" style="height: 24px;font-size: 21px;color:white;margin-top:12px;">Version: <%= @hosted_file.version %></div>
		<div class="row" style="height: 24px;font-size: 21px;color:white;margin-top:12px;">Phone: <%= @hosted_file.phone_type %></div>
		<div class="row" style="height: 24px;font-size: 21px;color:white;margin-top:12px;">Description: <%= @hosted_file.description %></div>
		<div class="row" style="height: 24px;font-size: 21px;color:white;margin-top:12px;">Shown?: <%= @hosted_file.shown %></div>
		<div class="row" style="height: 24px;font-size: 21px;color:white;margin-top:12px;">OG File Name: <%= @hosted_file.file_name%></div>
		<div class="row" style="height: 24px;font-size: 21px;color:white;margin-top:12px;"><%=  %></div>
  	  </div>

  	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 20px;">
	  	  <div class="row" style="margin-left: 120px;margin-top:25px"> 
	  	  	<div>
			  	<div> <%= link_to 'Back', hosted_files_path, :style => "border-radius: 10px;border: none;color: blue;background-color: white;float:left;margin-right:10px;padding:5px" %>
	  	  	  <%= link_to(edit_hosted_file_path(@hosted_file)) do %>
	  	  		<div style ="color:white;font-size: 14px;line-height: 30px;float:left;margin-right:10px"> Edit </div>
	  	  	  <% end %>
			  <div> <%= link_to 'Delete', @hosted_file, method: :delete, data: { confirm: 'Are you sure?' },:style => "color:white;font-size: 14px;
	    line-height: 30px;float:left;margin-right:10px"  %>
			  </div>	  
			</div>
		  </div>
	  </div>
  </div>
</div>
