<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div id="grad" style="width:750px;display: block;margin-left: auto;margin-right: auto; border-radius: 15px;font-family:disco;padding: 50px;">
  <div style="margin-bottom: 30px; FONT-SIZE: 50px;color: white;margin-left: 50px;"> Join Network Table</div>
  <table id="profile_table" style="width: 650px;border-radius:15px;border-radius:15px;background-color:white">
    <thead>
      <tr style="border-bottom:1px solid gray">
        <td style="color: #3A5CAC;font-family: disco;padding: 8px;font-size: 20px;border-right: 1px solid gray;text-align: center;"> id </td>
        <td style="color: #3A5CAC;font-family: disco;padding: 8px;font-size: 20px;border-right: 1px solid gray;text-align: center;"> organization</td>
        <td style="color: #3A5CAC;font-family: disco;padding: 8px;font-size: 20px;border-right: 1px solid gray;text-align: center;"> contact name </td>
        <td style="color: #3A5CAC;font-family: disco;padding: 8px;font-size: 20px;border-right: 1px solid gray;text-align: center;"> address</td>
        <td style="color: #3A5CAC;font-family: disco;padding: 8px;font-size: 20px;text-align: center;"> select</td>
      </tr>
    </thead>
    <tbody>
      <% @environments.each do |environment| %>
      <tr style="border-top:1px solid gray">
        <td style="color: #3A5CAC;font-family: disco;padding: 14px;border-right: 1px solid gray;border-bottom-left-radius: 10px;padding-left:18px;padding-right:18px"> <%= environment.id %> </td>
        <td style="color: #3A5CAC;font-family: disco;padding: 10px;border-right: 1px solid gray;border-bottom-left-radius: 10px;"> <%= environment.company %> </td>

        <td style="color: #3A5CAC;font-family: disco;padding: 10px;border-right: 1px solid gray;" > <%= environment.main_contact_name %> </td>
        <td style="color: #3A5CAC;font-family: disco;padding: 10px;border-right: 1px solid gray;" > <%= environment.address %></td>
        <td style="color: #3A5CAC;font-family: disco;padding: 10px;border-right: 1px solid gray;" > <%= render partial: '/partials/action_network',  :locals => { :environment => environment } %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div style="margin-bottom: 20px;">
    <div>
      <%= link_to(welcome_user_path()) do %>
        <div>
          <button type="submit" style="margin-top:15px;border-radius: 10px;color: #3A5CAC;    float: left;
      margin-right: 10px;" class="btn btn-default">back</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>