<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div id="grad" style="width:550px;height:300px;display: block;margin-left: auto;margin-right: auto;background-color: blue;border-radius: 15px;font-family:disco">
  	<div class= "row" style="padding-top:85px;padding-left:40px">
  	  <%= label_tag 'username:', nil, options = { style: "color:white;float:left;font-size:34px;padding-top:7px;margin-right:10px;"}  %>
  	  <%= text_field_tag 'query',nil, options = {class: "form-control", style: "width:275px"} %>
  	</div>
  	<div class= "row" style="padding-top:25px;padding-left:40px">
  	  <%= label_tag 'password:', nil, options = { style: "color:white;float:left;font-size:34px;padding-top:7px;margin-right:10px;"}   %>
  	  <%= text_field_tag 'query',nil , options = {class: "form-control", style: "width:275px"} %>
  	</div>
  	<div>
      <div class= "row"> 
  	    <button type="submit" style="margin-left:450px;margin-top:15px" class="btn btn-default">Submit</button>
  	  </div>
  	<div>
  </div>
</div>

<%= link_to(docter_welcome_index_path()) do %>
  <div style="width:100px;height:100px">
  </div>
<% end %>


<%= link_to(emergency_alerts_path()) do %>
  <div style="width:100px;height:100px">
  </div>
<% end %> -->