<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
</div>

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  <div id="grad" style="width:275px;height:150px;display: block;border-radius: 15px;font-family:disco">
    <div style="text-align:center;">Environment</div>
    <% if current_user.joined_environment? %>
    <div> Already part of: <%= Environment.find(current_user.profile.environment_id).company %></div>
      <div style="border-radius:15px;background-color:white;height: 35px;width: 180px;line-height: 32px;margin-top:39px;margin-left:43px;">
        <%= link_to(welcome_get_network_path()) do %>
          <div style="font-size:20px;height: 35px; margin-left: 6px;"> Join Network
          </div>
        <% end %>
      </div>
    <% elsif current_user.profile == nil %>
      <div style="border-radius:15px;background-color:white;height: 35px;width: 180px;line-height: 32px;margin-top:39px;margin-left:43px;">
          <div style="font-size:20px;height: 35px; margin-left: 6px;"> Need Profile</div>
      </div>
    <% else %>
      <div style="border-radius:15px;background-color:white;height: 35px;width: 180px;line-height: 32px;margin-top:39px;margin-left:43px;">
        <%= link_to(welcome_get_network_path()) do %>
          <div style="font-size:20px;height: 35px; margin-left: 6px;"> Join Network
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
</div>

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  <div id="grad" style="width:275px;height:150px;display: block;border-radius: 15px;font-family:disco">
    <div style="text-align:center;">Profile</div>
    <% if current_user.profile != nil%>
      <div style="border-radius:15px;background-color:white;height: 35px;width: 180px;line-height: 32px;margin-top:39px;margin-left:43px;">
        <%= link_to(profile_path(current_user.profile.id)) do %>
          <div style="font-size:20px;height: 35px; margin-left: 6px;"> View Profile
          </div>
         <% end %>
      </div>
    <% else %>
      <div style="border-radius:15px;background-color:white;height: 35px;width: 180px;line-height: 32px;margin-top:39px;margin-left:43px;">
        <%= link_to(new_profile_path()) do %>
          <div style="font-size:20px;height: 35px; margin-left: 6px;"> Create Profile
          </div>
         <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
</div>

<!--     <div class= "row" style="padding-top:105px;padding-left:40px;margin-left: 150px;">

      <div style="border-radius:15px;background-color:white;height: 35px;width: 160px;line-height: 32px;">
        link_to(profiles_path()) do %>
          <div style="font-size:30px;height: 35px; margin-left: 6px;"> patients
          </div>
         end %>
      </div>

    </div>

    <div class= "row" style="padding-top:25px;padding-left:40px;margin-left: 15px;"> 
      <div style="border-radius:15px;background-color:white;height: 35px;width: 440px;line-height: 32px;">
         link_to(personal_health_records_path()) do %>
          <div style="font-size:30px;height: 35px; margin-left: 6px;">personal health records
          </div>
         end %>
      </div>

    </div> -->