<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div id="grad" style="width:650px;height:500px;display: block;margin-left: auto;margin-right: auto; border-radius: 15px;font-family:disco;padding-top: 50px;padding-bottom: 50px;">
  	  <div style="margin-bottom: 30px;margin-bottom: 60px;FONT-SIZE: 38px;color: white;padding-left: 95px;padding-right: 95px;"> Patient Information</div>
<!--   	  <p id="notice" style="color:white;margin-left:200px">< notice %></p> -->
  	  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  	  	<div style="height:250px;">
  	  	  <% if !@patient.has_image?(@patient) %>
  	  	    <%= cl_image_tag(@patient.image_name, :width => 250, :height => 250, :crop => :fill, :style => "height:250px;float:right;") %>
  	  	  <% else %>
			<%= image_tag("NO_IMAGE.png", :style => "height:250px;float:right;") %>
		  <% end %>
  	  	</div>
  	  </div>

  	  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  	  	<div class="row" style="height: 24px;font-size: 21px;color:white"><%= @patient.first_name %></div>
  	  	<div class="row" style="height: 24px;font-size: 21px;color:white;margin-top:12px;"><%= @patient.last_name %></div>
		<div class="row" style="height: 24px;font-size: 21px;color:white;margin-top:12px;"><%= @patient.DOB %></div>
		<div class="row" style="height: 24px;font-size: 21px;color:white;margin-top:12px;"><%= @patient.sex %></div>
		<div class="row" style="height: 24px;font-size: 21px;color:white;margin-top:12px;"><%= @patient.phone_number %></div>
		<div class="row" style="height: 24px;font-size: 21px;color:white;margin-top:12px;"><%= @patient.address %></div>
		<div class="row" style="height: 24px;font-size: 21px;color:white;margin-top:12px;"><%=  %></div>
  	  </div>

  	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 20px;">
	  	  <div class="row" style="margin-left: 120px;margin-top:25px"> 
	  	  	<div>
	  	  	  <%= link_to(edit_patient_path(@patient)) do %>
	  	  		<div style ="border-radius: 10px;border: none;color: blue;background-color: white;float:left;margin-right:10px;padding:5px"> Edit </div>
	  	  	  <% end %>
			  <div> <%= link_to 'Back To Table', patients_path, :style => "color:white;font-size: 14px;
	    line-height: 30px;float:left;margin-right:10px" %>
			  </div> 
			  <div> <%= link_to 'Create A Record', new_personal_health_record_path(:id => @patient.id), :style => "color:white;font-size: 14px;
	    line-height: 30px;float:left;margin-right:10px" %>
			  </div> 
			  <div> <%= link_to 'Delete', @patient, method: :delete, data: { confirm: 'Are you sure?' },:style => "color:white;font-size: 14px;
	    line-height: 30px;float:left;margin-right:10px"  %>
			  </div>
			</div>
		  </div>
	  </div>
  </div>
</div>

<!-- < link_to 'Edit', edit_patient_path(@patient) %> |
< link_to 'Back', patients_path %> -->
