<!DOCTYPE html>
<html>
<head>
  <title>Meis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if user_signed_in? %>
    <p>Hello, <%= current_user.first_name %> - <%= link_to "Sign_out", destroy_user_session_path, :method => "delete" %>
    <br>
  <% end %>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div>
    <%= image_tag("LOGO2.png", :style => "width:810px;padding-top:40px;display: block;
    margin-left: auto;margin-right: auto;margin-bottom: 10px; ") %>
  </div>
<!--     <div class="col-xs-12 col-sm-12	col-md-12 col-lg-12">
      <div style="background-color:white;height:160px;width:810px;padding-top:40px;display: block;
    margin-left: auto;margin-right: auto;margin-bottom: 10px; ">
	      <div class="row" style="height:100%;width:560px;float:left;margin-right: 0px;">
	        <div style="padding-top:30px;font-size:100px;font-family:Disco;height:100%;background: -webkit-linear-gradient(#1DDFFC, #3A5CAC);-webkit-background-clip: text;-webkit-text-fill-color: transparent;"> PRYSMIC</div>
	      </div>
        <div class= "row" style="margin-left:10px;width:220px;float:left;height:100%">
	        <div style="height:25px;font-size:32px;font-family:Disco;background: -webkit-linear-gradient(#1DDFFC, #3A5CAC);-webkit-background-clip: text;-webkit-text-fill-color: transparent;line-height:18px;">emergency</div>
	        <div style="height:25px;font-size:32px;font-family:Disco; background: -webkit-linear-gradient(#1DDFFC, #3A5CAC);-webkit-background-clip: text;-webkit-text-fill-color: transparent;line-height:22px;">medical</div>
	        <div style="height:25px;font-size:32px;font-family:Disco; background: -webkit-linear-gradient(#1DDFFC, #3A5CAC);-webkit-background-clip: text; -webkit-text-fill-color: transparent;line-height:27px;">information</div>
        </div>
      </div>
    </div> -->

  </div>
  <%= yield %>
  <div style="height:200px;"></div>
</body>
</html>
